@import "--parcial";

//CLASES

%precio{
    font-weight: bold;
    font-size: large;
}

header{   
    position: relative;
    z-index: 4000;

    nav{
        height: 150px !important ;

        .btn{
            display:none;
            
        }

    }

    #inicio,#catalogo{
        display: block;
    }
    #m-ofertas,#m-novedades,#frase_imaginacion,#buscador{
        display: none;
    }
 }

 #cr_contenedor_principal{
    padding-top: 6rem;
    padding-bottom: 6rem;
    #cr_caja_producto{

        width: 40rem;
        .cr_imagen_producto{
    
            @include img($wth:20%,$hght: 10rem, $margin:0rem);
        }
    
        .cr_precio_producto, .cr_precio_cantidad{
            @extend %precio;
        }
       
        .cr_basura,.cr_corazon, .cr_carrito
        {
            font-size: 1.5rem;
            cursor: pointer;
            color: $color_negro;
        }

        input{
            height: 2rem;
        }
       
    }
    
    #cr_comprar_pedido{
        width: 20rem;
        height:250px;
        #cr_carrito{
            font-size: 1.5rem;
            cursor: pointer;
            color: $color_negro;
        }
    
        #cr_precio_total{
            @extend %precio;
            color:$color_negro;
        }
    
        .btn{
            @include button ( $wth: 7rem);
            font-weight: bold;
        }
    
        #cr_visa, #cr_paypal,#cr_mastercard{
            color: $color_negro;
            cursor: pointer;
            font-size: x-large;
        }
    }
 }



@include media-breakpoint-down(lg) {
   
    nav{
        height: 300px !important;
    }

    .imgCF {
        width: 100% !important; 
    }

}


