
@import "--parcial.scss";

header{
     #inicio{
         display: block;
     }
     #catalogo, #m-ofertas,#m-novedades{
         display: none;
     }

}
body{
    
     #cont-radio-check{
         border: 2px solid $color_negro;
         border-radius: 1.5rem;
         padding: 2rem;
         margin-top: 3rem;
     }

     #ordenador,#periferico,#componente,#accesorio{
         width: 20%;
     }


    
     #ordenador-ico{
         @include img($url:url("./img/ordenador-ico.png"),$wth:20%,$hght: 50px,$margin:0rem);
     }

     #periferico-ico{
         @include img($url:url("./img/periferico-ico.png"),$wth:20%,$hght: 50px,$margin:0rem);
     }

     #componente-ico{
         @include img($url:url("./img/componente-ico.png"),$wth:20%,$hght: 50px,$margin:0rem);
     }

     #accesorio-ico{
         @include img($url:url("./img/accesorio-ico.png"),$wth:20%,$hght: 50px,$margin:0rem);
     }
    

   
}
    

@include media-breakpoint-down(lg) {
    #ordenador,#periferico,#componente,#accesorio{
        width: 40% !important;
    }
 }

 @include media-breakpoint-down(md) {
    #ordenador,#periferico,#componente,#accesorio{
        width: 100% !important;
    }

    #ordenador-ico,#periferico-ico,#componente-ico,#accesorio-ico{
       
        height: 30px !important;
    }

 }