@import"--parcial.scss";

header{   
    

    height: 10vh;
    #inicio,#catalogo{
        display: block;
    }
    #m-ofertas,#m-novedades,#frase_imaginacion, #buscador{
        display: none;
    }
} 



#ck_btnpedido{
    width: 15rem;
}
#ck_imgBizum {
    width: 15px;
}


@include media-breakpoint-down(lg) {
   
    header{
        height: 300px !important;
    }

}
    


