@import "--parcial";

*{
    font-family:$tipografía;
    font-size: $fontSizeGeneral;
    
    margin: 0;
    padding: 0;

    header{
        #inicio{
            display: none;
        }

    }

    body{
        .caja-h2{
            padding-top: 2rem;
            padding-bottom: 2rem;
            h2{
                font-size: $fontSizeH2;
                font-weight: $fontWH2;
            }

            .linea1,.linea2 {
                @include lineas();
            }
        }

        .img{
            @extend %imagen
        }

    }

}
.ventana{
    display: none;
}
