@import"--parcial.scss";

*{
    color: white;
}

header{   
    

    #inicio,#catalogo{
        display: block;
    }
    #m-ofertas,#m-novedades,#buscador{
        display: none;
    }
    i{
        color: $color_blanco;
    }
 }
#lg_fondo {
    
    background-color: $color_negro;
    
}

.card{
    background-color: transparent;
    border:none;
    
}

h2{
    font-size: 45px; 
    font-family: 'Ubuntu', sans-serif;
}

.btn{
    @include button ($bg-color:$color_gris, $wth: 8rem, $colorletra:$color_negro);
}

#form_registro, footer, header{
    display:none
}

#frase-imaginacion{
    color: $color_blanco;
    font-family: 'Ubuntu', sans-serif;

}